.fundoCadastro {
    background-image: url("https://cdn.discordapp.com/attachments/1050597957352833117/1177200281826623488/sorv1.jpg?ex=6571a432&is=655f2f32&hm=b2dca57fd311e1c7ad6ad9f01bf854108e9e3cee71427edfff40f0a5ebfc5215&");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }