.fundoLogin {
    background-image: url("https://cdn.discordapp.com/attachments/1050597957352833117/1177200283252703322/sorv2.jpg?ex=6571a432&is=655f2f32&hm=fda83ff42e6f789d2304d10aacb11e735c64745ef28fb94485420bedb8ae59a2&");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}